<% provide(:title, t("help")) %>
<h2>
    <%= link_to t("English"), locale: "en" %>
    <%= link_to t("Vietnamese"), locale: "vi" %>
</h2>
<h1><%= t ".title" %> </h1>
<p><%= t(".help_item1")%>
<a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
<%= t(".help_item2")%>
<a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
