<% provide :title, t("help") %>
<h1> <%= t ".title" %> </h1>
<p> <%= t ".help_item1" %>
  <%= link_to Settings.link_help1 %>
  <%= t ".help_item3" %>
  <%= t ".help_item2" %>
  <%= link_to Settings.link_help2 %>
  <em> <%= t ".help_item4" %> </em>
</p>
