<h2>
    <%= link_to t("English"), locale: "en" %>
    <%= link_to t("Vietnamese"), locale: "vi" %>
</h2>
<h1><%= t(".title") %></h1>
<p>
	<%= t(".home_item1") %>
	 <a href="https://www.railstutorial.org/"><%= t(".home_item3")%></a>
  <%= t(".home_item2") %>
</p>
 