<footer class="footer">
<small>
  <%= t ".foo_i1" %>
  <%= link_to t(".foo_i2"), Settings.link_about2 %>
  <%= t ".foo_i3" %>
  <%= link_to t(".foo_i4"), Settings.link_footer %>
</small>
<nav>
<ul>
  <li><%= link_to t(".about"),   about_path %></li>
  <li><%= link_to t(".contact"), contact_path %></li>
  <li><%= link_to t(".foo_i"), Settings.link_new %></li>
</ul>
</nav>
</footer>
